*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 37vw;
    height: 28vw;
    background: rgba(26, 25, 25, 0.801);
    margin-left: 1em;
}

.img{
    width: 10vw;
    height: 10vw;
    background: url("./Asset/Passenger.JPG");
    background-position: center;
    background-size: contain;
    border-radius: 900vw;

}

.showcase{
    margin-left: 2em;
    margin-top: 20px;
    width: 80%;
    color: white;
    padding: 10px;
}

button{
    border: 0;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 100px;
    padding: 5px 15px;
    margin-top: 10px;
    color: white;
}





